/*Font Import*/
@font-face {
	font-family: oswald;
	src:url('../fonts/Oswald.ttf'); 
}
@font-face {
	font-family: anton;
	src:url('../fonts/anton.ttf'); 
}
/**/
body{
	background-image: url("../images/background.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 5em; 
	background-attachment: fixed;
	background-position: center;
}
/*Header*/
header{
	background: linear-gradient(180deg,#f1f1f1,#9e9e9e);
}
img[src="images/csi_header.png"]{
	width: 50%;
}
/*Nitte Image*/
img[src="images/nmamitbanner.jpg"]{
	width: 100%;
	height: 27em;
	margin: 0 0 0 0;
	padding-left: 0px;
	padding-right: 0px;
}
/*Navbar*/
div.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}
ul{
	margin-left: 6%;
}
li{
	padding-right: 3em;
	color: black;
}
a.nav-link{
	color: black;
}
a.nav-link:hover{
	color: #3f51b5;
	font-weight: 600;
}
nav{
	background-color: #f2f6f3;
	text-align: center;
}
/*-------------------------------------------------*/
div.container-fluid.gform{
	margin-top: 2%;
	padding-left: 3em;
}
div.container-fluid.gmap{
	margin-top: 2%;
	padding-left: 3em;
}
ul.smedia{
	margin-left: 15em;
}
body{
	padding-bottom: 40em;
}
iframe{
	object-fit: contain;
}
/*Breakpoints*/
@media (min-width: 768px) and (max-width: 1200px){
	
}


@media (min-width: 425px) and (max-width: 768px){
	div.col-6{
		flex: 0 0 80%;
  		max-width: 80%;
	}
		div.container-fluid.gform{
		margin-top: 2%;
		padding-left: 0em;
		margin-right: 2em;
		margin-bottom: 3%;
	}
		div.container-fluid.gmap{
		margin-top: 4%;
		padding-left: 0em;
	}
	iframe{
		width: 26.5em;

	}
	div.mapouter,div.gmap_canvas{
		width: 26.5em;
	}
	ul.smedia{
		margin-left: -70px;
		margin-top: 1em;
	}
	.navbar-brand{
		width: 50% !important;
	}
}
@media (min-width: 375px) and (max-width: 425px){
	div.col-6{
		flex: 0 0 80%;
  		max-width: 80%;
	}
		div.container-fluid.gform{
		margin-top: 2%;
		padding-left: 0em;
		margin-right: 2em;
		margin-bottom: 3%;
	}
		div.container-fluid.gmap{
		margin-top: 4%;
		padding-left: 0em;
	}
	iframe{
		width: 23em;

	}
	div.mapouter,div.gmap_canvas{
		width: 23em;
	}
	ul.smedia{
		margin-left: -70px;
		margin-top: 1em;
	}
	.navbar-brand{
		width: 50% !important;
	}
}


