/*Font Import*/
@font-face {
	font-family: oswald;
	src:url('../fonts/Oswald.ttf'); 
}
@font-face {
	font-family: anton;
	src:url('../fonts/anton.ttf'); 
}
/**/
body{
	background-image: url("../images/background.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 5em; 
}
/*Header*/
header{
	background: linear-gradient(180deg,#f1f1f1,#9e9e9e);
}
img[src="images/csi_header.png"]{
	width: 50%;
}
/*Navbar*/
div.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
	height: auto;
}
ul{
	margin-left: 6%;
}
li{
	padding-right: 3em;
	color: black;
}
a.nav-link{
	color: black;
}
a.nav-link:hover{
	color: #3f51b5;
	font-weight: 600;
}
nav{
	background-color: #f2f6f3;
	text-align: center;
}
/*Gallery*/
h1{
	font-family: oswald;
	text-align: center;
	padding-bottom: 1.5em;
}
div.container{
	padding-top: 2%;
	padding-bottom: 5%;
}
.col-4{
	margin-bottom: 3em;
}
/*Breakpoints*/
@media (min-width: 425px) and (max-width: 768px){
	div.col-4{
	flex: 0 0 50%;
  	max-width: 50%;
  	height: 12em !important;
	}
	img[src="images/csi_header.png"]{
	width: 80%;
	}
}
@media (min-width: 1200px){
	div.col-4{
	flex: 0 0 33.333333%;
  	max-width: 33.333333%;
	}
	div.modal-content{
	width: 130%;
	}
	div.modal-dialog{
		margin-left: 30em;
		margin-top: 0%;
	}
}

@media (min-width: 375px) and (max-width: 425px){
	div.col-4{
	flex: 0 0 100%;
  	max-width: 100%;
  	height: 22em !important;
  	margin-bottom: 0em;
	}
	img[src="images/csi_header.png"]{
	width: 80%;
	}
	div.col-4 img{
		height: 18em !important; 
	}
	.navbar-brand{
		width: 50% !important;
	}
}
/*Gallery*/
div.col-4{
	float: left;
	height: 16em;
}
div.col-4 img{
	width: 100%;
	height: 100%;
}
div.col-4 img:hover{
	opacity: 0.7;
	cursor: pointer;
}
div.modal-body img{
	width: 100%;
	height: 100%;
}
div.modal-dialog{
	padding-top: 10%;
}
/*image Modal*/
div.modal-body{
	padding: 7px 7px 7px 7px;
}
/*Close Button*/
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
  cursor: pointer;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: black;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
