/*Font Import*/
@font-face {
	font-family: oswald;
	src:url('../fonts/Oswald.ttf'); 
}
@font-face {
	font-family: anton;
	src:url('../fonts/anton.ttf'); 
}
/**/
body{
	background-image: url("../images/background.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 5em; 
}
/*Header*/
header{
	background: linear-gradient(180deg,#f1f1f1,#9e9e9e);
}
img[src="images/csi_header.png"]{
	width: 50%;
}
/*Navbar*/
div.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
	height: auto;
}
ul{
	margin-left: 6%;
}
li{
	padding-right: 3em;
	color: black;
}
a.nav-link{
	color: black;
}
a.nav-link:hover{
	color: #3f51b5;
	font-weight: 600;
}
nav{
	background-color: #f2f6f3;
	text-align: center;
}
/*Gallery*/
#border-nill{
	border: 0 0 0 0 !important;
	border-width: 0px;
}
.container{
	padding-top: 2em;
	padding-bottom: 3em;
}
.col-4{
	margin-bottom: 3em;
	float: left;
}
div.text-center h1{
	font-family: oswald;
	padding-bottom: 1em;
}
div.img img{
	object-fit: fill !important;
}
/*Breakpoints*/
@media (min-width: 768px) and (max-width: 1200px){
	div.col-4{
	flex: 0 0 50%;
  	max-width: 50%;
	}
	img[src="images/csi_header.png"]{
	width: 80%;
}
}
@media (min-width: 1200px){
	div.col-4{
	flex: 0 0 33.333333%;
  	max-width: 33.333333%;
	}
}

@media (min-width: 425px) and (max-width: 768px){
	div.col-4{
	flex: 0 0 100%;
  	max-width: 100%;
  	float: left;
  	margin-left: 1.8em;
	}
	img[src="images/csi_header.png"]{
	width: 80%;
	}
}
@media (min-width: 375px) and (max-width: 425px){
	div.col-4{
	flex: 0 0 100%;
  	max-width: 100%;
  	float: left;
	}
	img[src="images/csi_header.png"]{
	width: 80%;
	}
	.navbar-brand{
		width: 50% !important;
	}
}
/*GAllery text color*/
.g{
	color: red;
}
.a{
	color: indigo;
}
.l1{
	color: orange;
}
.l2{
	color: purple;
}
.e{
	color: green;
}
.r{
	color: blue;
}
.y{
	color: violet;
}