/*Font Import*/
@font-face {
	font-family: oswald;
	src:url('../fonts/Oswald.ttf'); 
}
@font-face {
	font-family: anton;
	src:url('../fonts/anton.ttf'); 
}
/**/
body{
	background-image: url("../images/background.jpg"); 
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 5em; 
	background-attachment: fixed;
	background-position: center;
}
/*Header*/
header{
	background: linear-gradient(180deg,#f1f1f1,#9e9e9e);
}
img[src="images/csi_header.png"]{
	width: 50%;
}
/*Navbar*/
div.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
	height: auto;
}
ul{
	margin-left: 6%;
}
li{
	padding-right: 3em;
	color: black;
}
a.nav-link{
	color: black;
}
a.nav-link:hover{
	color: #3f51b5;
	font-weight: 600;
}
nav{
	background-color: #f2f6f3;
	text-align: center;
}
/*Staff coordinator*/
.responsive {
  width: auto%;
  height: auto;
}
.team {
	padding-top: 2em;
}
#border-nill{
	border: 0 0 0 0 !important;
	border-width: 0px;
}
.img{
	text-align: center;
	padding-bottom: 1em;
}
.top .col-12{
	margin-bottom: 3em;
	float: left;
}
.container{
	padding-top: 2em;
	padding-bottom: 3em;
}
.container-fluid{
	padding-left: 2em;

}
.col-4{
	margin-bottom: 3em;
	float: left;
}
div.text-center h1{
	font-family: oswald;
	padding-bottom: 1em;
}
div.img img{
	object-fit: fill !important;
}
.info h5{
	text-align: center;
}
.col-4  .inform h5{
	padding-top: 4em;
	text-align: center;
}
.info p{
	text-align: center;
	font-size: 18px;
}
.title h2{
	padding-bottom: 1em;
	text-align: center;
}
.col-4{
	float: left;
}
div.container{
	padding-left: 0px;
	padding-right: 0px;

}
/*Breakpoints*/
@media (min-width: 769px) and (max-width: 1200px){
	div.col-4{
	flex: 0 0 50%;
  	max-width: 50%;
	}
	img[src="images/csi_header.png"]{
	width: 80%;
}
}
@media (min-width: 1200px){
	div.col-4{
	flex: 0 0 33.333333%;
  	max-width: 33.333333%;
	}
}

@media (min-width: 100px) and (max-width: 768px){
	div.col-4{
	flex: 0 0 100%;
  	max-width: 100%;
  	float: left;
  	margin-left: auto;
  	margin-right: auto;
	}
	img[src="images/csi_header.png"]{
	width: 80%;
	}
}

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
margin-top: 10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
content: wrap-content;
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}